<!-- {{ $sass := resources.Get "styles/site-header.scss" }} -->
<!-- {{ $style := $sass | resources.ToCSS }} -->
<!-- <link rel="stylesheet" href="{{ $style.Permalink }}"> -->

<header id="site-header" >
  <nav id="primary-navigation" class="gutters" role="navigation">
    <a href="/" class="logo">
      <img src="/images/logo-full.svg" alt="The Smith Family logo">
    </a>
    <a class="menu" href="/programs">Programs</a>
    <a class="menu" href="/get-involved">Get Involved</a>
    <a class="menu" href="/donate/give">Ways to Give</a>
    <a href="/sponsor-a-child" class="mdc-button primary mdc-button--unelevated">
      <div class="mdc-button__ripple"></div>
      <span class="mdc-button__label">Child Sponsorship</span>
    </a>
    <a href="/donate" class="mdc-button mdc-button--unelevated mdc-theme--secondary-bg">
      <div class="mdc-button__ripple"></div>
      <span class="mdc-button__label">Donate Now</span>
    </a>
  </nav>
  <div id="secondary-navigation">
    <nav class="gutters" role="navigation">
      <a href="/poverty-in-australia" class="mdc-button mdc-button--unelevated">
        <div class="mdc-button__ripple"></div>
        <span class="mdc-button__label">Poverty in Australia</span>
      </a>
      <a href="/about-us" class="mdc-button mdc-button--unelevated">
        <div class="mdc-button__ripple"></div>
        <span class="mdc-button__label">About Us</span>
      </a>
      <a href="/media/research" class="mdc-button mdc-button--unelevated">
        <div class="mdc-button__ripple"></div>
        <span class="mdc-button__label">Research</span>
      </a>
      <a href="/media" class="mdc-button mdc-button--unelevated">
        <div class="mdc-button__ripple"></div>
        <span class="mdc-button__label">Media &amp; Stories</span>
      </a>
      <a href="/login" class="mdc-button mdc-button--unelevated">
        <div class="mdc-button__ripple"></div>
        <span class="mdc-button__label">Login</span>
      </a>
      <a href="/" class="mdc-button mdc-button--unelevated">
        <div class="mdc-button__ripple"></div>
        <span class="mdc-button__label">Search</span>
      </a>
    </nav>
  </div>
</header>

<script>
  document.querySelectorAll('.mdc-button').forEach(el => {
    mdc.ripple.MDCRipple.attachTo(el);
  })
</script>