.mdc-button {
    border-radius: 5px 0px 5px 0px;
    font-size: 14px;
    line-height: 17px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: normal;
    overflow: hidden;
    // font-family: "NewsGothicMTStd-Bold";
    font-weight: bold;
    min-width: 164px;
    max-width: 222px;
    padding: 0 16px;
    height: 48px;
    text-decoration: none;
    text-transform: uppercase;
}