@import "./site-header.scss";
@import "./button.scss";
@import "./colors.scss";

body {
    margin: 0;
}

.gutters {
    margin: auto;
    padding: 0 20px;
    box-sizing: border-box;
    max-width: 1200px;
}
