#site-header {
    > nav#primary-navigation {
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;

        > a.menu {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #003767;
            text-decoration: none;
            font-family: "NewsGothicMTStd";
            font-size: 26px;
            padding: 0 12px;
            height: 120px;
            white-space: nowrap;

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: calc(100% + 10px);
                height: 2px;
                background-color: #003767;
                opacity: 0;
                transition: opacity 200ms ease-in-out;
                transition-delay: 200ms;
            }

            @media (min-width: 600px) {
                &:hover,
                &:focus {
                    color: #0069d5;
                }
                &:hover::after,
                &:focus::after  {
                    opacity: 1;
                }
            }

            &.logo {
                padding: 0;

                > img {
                    height: 112px;
                    width: auto;
                }
            }
        }

        > a:not(:last-child) {
            margin-right: 10px;
        }
    }

    > nav#secondary-navigation {
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;

        > a {
            display: block;
            padding: 20px 10px;
            text-decoration: none;
            font-weight: 600;
            font-size: 18px;

            &:not(:last-child) {
                margin-right: 1rem;
            }
        }
    }
}