#site-header {
    > nav#primary-navigation {
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;

        > a {
            display: block;
            padding: 20px 10px;
            text-decoration: none;
            font-weight: 600;
            font-size: 24px;
            background-color: rgba(0,0,0, 0.1);

            &:not(:last-child) {
                margin-right: 1rem;
            }
        }
    }

    > nav#secondary-navigation {
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;

        > a {
            display: block;
            padding: 20px 10px;
            text-decoration: none;
            font-weight: 600;
            font-size: 18px;
            background-color: rgba(0,0,0, 0.1);

            &:not(:last-child) {
                margin-right: 1rem;
            }
        }
    }
}